.liner::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 160%;
  height: 100%;
  background: #0009;
  clip-path: polygon(0 0, 50% 0, 50% 100%, 0 100%);
  border-radius: 10px 0 0 10px;
}
