<div class="w-[466px]" *ngIf="!isLogin">
  <div *ngIf="(authStep$ | async) === AuthStepperType.FIRST_STEP">
    <p class="text-[#E2E2E2]">Enter your email:</p>
    <mat-form-field appearance="outline" color="primary" class="w-[100%]">
      <input
        [formControl]="authForm.controls.email"
        matInput
        placeholder="Email"
        required
      />
      <mat-error
        *ngIf="authForm.controls.email.touched && authForm.controls.email.invalid"
      >
        Valid email is required.
      </mat-error>
    </mat-form-field>

    <p class="text-[#E2E2E2]">Enter your password:</p>
    <mat-form-field appearance="outline" color="primary" class="w-[100%]">
      <input
        [formControl]="authForm.controls.password"
        matInput
        type="password"
        placeholder="Password"
        required
      />
      <mat-error *ngIf="authForm.controls.password.invalid">
        Password is required and must be at least 8 characters long.
      </mat-error>
    </mat-form-field>

    <p class="text-[#E2E2E2]">Confirm your password:</p>
    <mat-form-field appearance="outline" color="primary" class="w-[100%]">
      <input
        [formControl]="authForm.controls.confirmPassword"
        matInput
        type="password"
        placeholder="Confirm Password"
        required
      />
      <mat-error *ngIf="authForm.controls.confirmPassword.hasError('passwordsNotEqual')">
        Passwords do not match.
      </mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="nextStep()">Next</button>
  </div>

  <div *ngIf="(authStep$ | async) === AuthStepperType.SECOND_STEP">
    <p class="text-[#E2E2E2]">Enter your first name:</p>
    <mat-form-field appearance="outline" color="primary" class="w-[100%]">
      <input
        [formControl]="authForm.controls.firstName"
        matInput
        placeholder="First Name"
        required
      />
      <mat-error
        *ngIf="authForm.controls.firstName.touched && authForm.controls.firstName.invalid"
      >
        First name is required.
      </mat-error>
    </mat-form-field>

    <p class="text-[#E2E2E2]">Enter your last name:</p>
    <mat-form-field appearance="outline" color="primary" class="w-[100%]">
      <input
        [formControl]="authForm.controls.lastName"
        matInput
        placeholder="Last Name"
        required
      />
      <mat-error
        *ngIf="authForm.controls.lastName.touched && authForm.controls.lastName.invalid"
      >
        Last name is required.
      </mat-error>
    </mat-form-field>

    <p class="text-[#E2E2E2]">Enter your username:</p>
    <mat-form-field appearance="outline" color="primary" class="w-[100%]">
      <input
        [formControl]="authForm.controls.userName"
        matInput
        placeholder="Username"
        required
      />
      <mat-error
        *ngIf="authForm.controls.userName.touched && authForm.controls.userName.invalid"
      >
        Username is required.
      </mat-error>
    </mat-form-field>
  </div>
</div>
