.second {
  border-radius: 10px;
}

.text2 {
  font-size: 13px;
  font-weight: 500;
  margin-left: 6px;
}

.text3 {
  font-size: 13px;
  font-weight: 500;
  margin-right: 4px;
}

/* Spinner styles */
.loader {
  border-top-color: #3b3d5e;
  animation: spinner 1.5s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
